@import'~bootstrap/dist/css/bootstrap';
@import'~@fortawesome/fontawesome-free/css/all';
@import url('https://fonts.googleapis.com/css2?family=Zen+Loop&display=swap%27');
@import'btn';
@import'carousel';
@import'logo';
@import'header';
@import'navbar';
@import'buttonUp';
@import'style';

/* dropzone ?*/
@import '~dropzone/dist/basic';
@import '~dropzone/dist/dropzone';
/* flagsicon */
@import '~flag-icon-css/css/flag-icon';
